<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 가입</title>
</head>
<body>
<form  method="post" th:action="@{/app/member/sign-up}" th:object="${memberJoinRequest}" >
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" th:field="*{email}" required><br>

    <label for="name">이름:</label>
    <input type="text" id="name" name="name" th:field="*{name}" required><br>

    <label for="password">비밀번호:</label>
    <input type="password" id="password" name="password" th:field="*{password}" required><br>

    <label for="gender">성별:</label>
    <select id="gender" name="gender" th:field="*{gender}">
        <option value="MALE">남성</option>
        <option value="FEMALE">여성</option>
    </select><br>

    <label for="role">역할:</label>
    <select id="role" name="role" th:field="*{role}">
        <option value="USER">일반 회원</option>
        <option value="CLUB">동아리 회원</option>
    </select><br>

    <button type="submit">회원 가입</button>
</form>

</body>
</html>
